.presentation-page {
    text-align: center;
    margin: 12px;
}

.presentation-wrapper {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

/* Top part of the Presentation Page outside of Scrolls */
.top-heading {
    height: 12vh;
    text-align: center;
    background-color: #006368;
}

/* Timer on SpeechRecognition Component position */
.timer {
    margin: 0 auto;
}

.notes-section {
    text-align: left;
    overflow-x: auto;
    padding: 12px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}